.loading-app {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loading-modal {
    background-color: #ffffffc4;
    z-index: 1;
}

.header-menu, .content-files {
    max-width: 1230px;
}

.header-link, .header-link:active { color: #ffffff; }
.header-link:hover  { color: #eeecec; text-decoration: none; }

.bg-login-block {
    background: url('//api.kolgaev.ru/css/header/header.jpg') no-repeat;
    background-size: cover;
}

.userlist-menu {
    width: 230px;
    max-width: 230px;
    min-width: 230px;
}

.loading-user {
    color: transparent;
    background: linear-gradient(100deg, #eceff1 30%, #f6f7f8 50%, #eceff1 70%);
    background-size: 400%;
    animation: loading 1.2s ease-in-out infinite;
}
@keyframes loading {
    0% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}

.file-row {
    width: 100px;
    height: 122px;
    font-size: 13px;
    cursor: pointer;
}
.file-row.active { background-color: #f8f8f8; }
.file-row:hover, .file-row.active-menu { background-color: #f0f0f0; }
.file-row-icon {
    position: relative;
    height: 80px;
    width: 80px;
}
.file-row-icon-image {
    width: 50px;
    height: 50px;
}
.file-row-icon-thumbnail {
    max-width: 99%;
    max-height: 99%;
}
.file-row-name {
    line-height: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 38px;
}

.add-new-file {
    right: 10px;
    bottom: 10px;
    z-index: 10;
}

.progress-bar-in-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #747474;
    border-radius: .25rem .25rem 0 0;
}

.modal-header button { outline: none; }

#modal-uploading-files .modal-header button { color: #ffffff; }
#modal-uploading-files .modal-title {
    z-index: 10;
    color: #fff;
}
.progress-bar-in-file-row {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
}

.uploading-file-icon {
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% { opacity: .8; }
    50% { opacity: .4; }
    100% { opacity: .8; }
}

.file-context-menu {
    display: none;
    z-index: 10;
}

.icon-item-menu-file {
    width: 24px;
}

.loading-file { display: none; }

#rename-modal .modal-header { border-bottom: none; }
#rename-modal .modal-footer { border-top: none; }

.cursor-pointer { cursor: pointer; }

.hover { opacity: .7; }
.hover:hover { opacity: 1; }

.panel-header { font-size: 1.4rem; }

.toasts-downloads {
    position: fixed;
    left: 5px;
    bottom: 5px;
    min-width: 230px;
    max-width: 230px;
}

.progress-download-file {
    position: absolute;
    top: 7px;
    left: 5px;
    right: 5px;
    height: 2px;
}

.btn-user {
    background-color: #f3f3f3;
    outline: none !important;
}
.btn-user:active, .btn-user:focus {
    outline: none !important;
}
.btn-user:hover {
    background-color: #ededed;
}

#download-file-block {
    max-width: 800px;
}
.progress-download {
    height: 5px;
}

.alert-for-arhive {
    max-width: 650px;
}

.limit-progress {
    height: 5px;
}


.lite-box {
    position: fixed;
    background-color: #000000c2;
    z-index: 1000;
}
.lite-box img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 99%;
    max-height: 99%;
    border-radius: 5px;
}
.lite-box-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 55px;
    font-size: 24px;
}
.lite-box-back,
.lite-box-next {
    font-size: 30px;
    position: absolute;
    width: 40px;
    height: 100px;
    top: calc(50% - 50px);
}
.lite-box-back { left: 10px; }
.lite-box-next { right: 10px; }