.car-card-link:hover {
    text-decoration: none;
}

.car-card {
    width: 170px !important;
    opacity: .8;
}
.car-card:hover {
    opacity: 1;
}

.hover-row {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color:#3ccc18;
}
.car-card:hover .hover-row {
    display: block;
}

.car-content {
    margin: 1.5rem auto 0;
    width: 100%;
    max-width: 500px;
}

.title-car {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.statistic-refuel-row {
    margin: .25rem;
    text-align: center;
    padding: 0 .25rem;
    text-transform: uppercase;
}
.statistic-refuel-row .statistic-value {
    font-weight: 400;
    font-size: 130%;
}
.statistic-refuel-row .statistic-title {
    font-weight: 700;
}

.lost-fuel {
    position: absolute;
    top: 0;
    right: 6px;
    z-index: 1;
}

.title-type-fuel {
    opacity: .7;
    font-size: 80%;
}