.bg-my-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1d2332e5;
    color: #5e80e4;
    z-index: 100;
}

.header-menu {
    max-width: 1200px;
}

.header-link, .header-link:active { color: #ffffff; }
.header-link:hover  { color: #eeecec; text-decoration: none; }

.logined-header {
    right: 0;
    margin-top: -0.1em;
}
.logined-header .avatar {
    width: 2em;
    height: 2em;
    border-radius: 500rem;
    z-index: 1;
}
.logined-header .avatar:hover,
.avatar-no-image:hover {
    opacity: .9;
}

.avatar-no-image {
    width: 2em;
    height: 2em;
    border-radius: 500rem;
    z-index: 1;
    background-color: #5e80e4;
}

.loading-header-dimmer {
    border-radius: 50%;
}

.valid-message {
    display: inline-block;
}

.nav-menu-point:hover {
    text-decoration: none;
}
.nav-menu-point.nav-menu-active {
    font-weight: 700 !important;
}